In [ ]:
from bs4 import BeautifulSoup
import requests
from requests import get
import pandas as pd
import numpy as np
import re
import dateutil.parser as dparser

In [ ]:
response = requests.get('https://www.artprice.com/artprice-reports/the-art-market-in-2017/ranking-of-the-top-500-artists-by-auction-turnover-in-2017/top-500-artists-1-to-50/')
response.status_code

In [ ]:
soup = BeautifulSoup(response.text, 'lxml')

In [ ]:
table = soup.find_all(class_="table table-bordered table-striped")
auction_df = pd.read_html(str(table))[0]

In [ ]:
#auction_df.drop([100], inplace=True)

In [ ]:
auction_df.set_index("Rank", inplace=True)

In [ ]:
auction_df

In [ ]:
auction_df.to_csv('2017artist.csv')

In [ ]:
df1 = pd.read_csv('2017.csv')
df2 = pd.read_csv('2018.csv')
df3 = pd.read_csv('2019.csv')

In [ ]:
df1

In [ ]:
artist_list = []

for string in df1["Artist"]:
    artist_string = string.split("(")
    string = artist_string[0] 
    string = string.strip()
    artist_list.append(string)

In [ ]:
artist_list

In [ ]:
df1['Artist_Name'] = np.array(artist_list)
df1.drop(['Artist', 'Rank'], axis=1, inplace=True)

In [ ]:
df1.rename(columns={'Price ($)':"Price_Sold", "Auction house": "Auction_House"}, inplace=True)
df1

In [ ]:
df2

In [ ]:
artist_list = []

for string in df2["Artist"]:
    artist_string = string.split("(")
    string = artist_string[0] 
    string = string.strip()
    artist_list.append(string)

In [ ]:
df2['Artist_Name'] = np.array(artist_list)
df2.drop(['Artist', 'Rank'], axis=1, inplace=True)

In [ ]:
df2.rename(columns={'Price ($)':"Price_Sold", "Auction house": "Auction_House", 'Auction date': 'Date'}, inplace=True)
df2

In [ ]:
df3

In [ ]:
artist_list = []

for string in df3["Artist"]:
    artist_string = string.split("(")
    string = artist_string[0] 
    string = string.strip()
    artist_list.append(string)

In [ ]:
df3['Artist_Name'] = np.array(artist_list)
df3.drop(['Artist', 'Rank', 'Country of birth', 'Record'], axis=1, inplace=True)

In [ ]:
df3.rename(columns={'Price ($)':"Price_Sold", "Auction house": "Auction_House", 'Auction date': 'Date'}, inplace=True)
df3

In [ ]:
df4 = pd.merge(df1,df2, how='outer')
df4 = pd.merge(df4, df3, how='outer')
df4.to_csv('201719topworks.csv')

In [ ]:
new_artist_list = []

for string in df4["Artist"]:
    string_list = string.split(" ") 
    string = string_list[1] + " " + string_list[0] 
    string = string.strip()
    new_artist_list.append(string)

In [ ]:
auction_list = []
date_list = []

for string in df4["Auction House"]:
    date_list.append(string.split("2016")[0].replace(",", "").strip())
    auction_list.append(string.split("2016")[1].strip())

In [ ]:
df9 = pd.read_csv('2016.csv')

In [ ]:
df9

In [ ]:
#df5 = pd.read_csv('2017artist.csv')
#df6 = pd.read_csv('2018artist.csv')
df7 = pd.read_csv('2019artist.csv')

In [ ]:
artist_list = []

for string in df5["Artist"]:
    artist_string = string.split("(")
    string = artist_string[0] 
    string = string.strip()
    artist_list.append(string)
    
df5['Artist_Name'] = np.array(artist_list)

In [ ]:
#df5.drop(['Artist', 'Country of birth', 'Top Auction Result ($)', 'New record'], axis=1, inplace=True)
df5.rename(columns={'Turnover ($)':"Total_Auction_Turnover",'Sold lots': 'Sold_Lots'}, inplace=True)
df5.drop([50], inplace=True)
df5

In [ ]:
artist_list = []

for string in df6["Artist"]:
    artist_string = string.split("(")
    string = artist_string[0] 
    string = string.strip()
    artist_list.append(string)
    
df6['Artist_Name'] = np.array(artist_list)

In [ ]:
#df6.drop(['Artist', 'Country of birth', 'Top Auction Result ($)', 'New record'], axis=1, inplace=True)
#df6.rename(columns={'Auction turnover ($)':"Total_Auction_Turnover",'Sold lots': 'Sold_Lots'}, inplace=True)
#df6.drop([50], inplace=True)

######

In [ ]:
artist_list = []

for string in df7["Artist"]:
    artist_string = string.split("(")
    string = artist_string[0] 
    string = string.strip()
    artist_list.append(string)
    
df7['Artist_Name'] = np.array(artist_list)

In [ ]:
df7.drop(['Artist', 'Country of birth', 'Top Auction Result ($)', 'New record'], axis=1, inplace=True)
df7.rename(columns={'Auction turnover ($)':"Total_Auction_Turnover",'Sold lots': 'Sold_Lots', 'Unsold rate': 'Unsold_Rate'}, inplace=True)
df7.drop([50], inplace=True)

In [ ]:
#df8 = pd.merge(df5,df6, how='outer')
#df8 = pd.merge(df8, df7, how='outer')
df8.to_csv('201719artisttotals.csv')